@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: black 1px 1px;
  color: white;
  background: #f0f4f8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#start {
  text-align: center;
  margin: auto;
  width: 85%;
}

#app {
  background: linear-gradient(rgba(255,255,255,0.15), rgba(255,255,255,0.15)),
   url("bg-quiz.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  text-align: center;
  overflow-y: auto;
  max-height: 95vh;
}

h1,
h2 {
  color: white;
}

button {
  font-family: "SUSE Mono", sans-serif;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background: #3149ff;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#btn-easy {
  background-color: #005fa3;
}

#btn-medium {
  background-color: #0ba300;
}

#btn-hard {
  background-color: #a30000;
}

#btn-easy:hover,
#btn-medium:hover,
#btn-hard:hover {
  background: #e0e0e0;
  color: black;
}

button:hover {
  background: #e0e0e0;
  color: black;
}

.option {
  display: block;
  margin: 8px 0;
  padding: 10px;
  background: #3149ff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.option:hover {
  background: #e0e0e0;
  color: black;
}

.timer {
  font-weight: bold;
  margin: 10px 0;
}

#time {
  color: red;
}

.correct {
  background: #47e13c !important;
  color: black;
}

.wrong {
  background: #e13c3c !important;
}

.history {
  text-align: left;
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

.history li {
  background: #3149ff;
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
}